@charset "UTF-8";
/* ==========================================================================
   Themeqx Classified style.css
   28/08/2015
   url: classifieds.themeqx.com
   ========================================================================== */

@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

html,
body {
	width: 100%;
	height: 100%;
	min-width: 250px;
	margin: 0 auto;
	font-family: "Roboto", sans-serif;
}

a {
	text-decoration: none !important;
	color: #000000;
	transition: all 0.3s ease;
}

a:hover,
a:focus {
	color: #4d4d4d;
}

.row.no-gutters {
	margin-right: 0;
	margin-left: 0;
}

.row.no-gutters>[class^="col-"],
.row.no-gutters>[class*=" col-"] {
	padding-right: 0;
	padding-left: 0;
}

.color {
	color: #888483;
	color: #eea439;
	color: #eb9114;
	color: #f0ad4e;
	color: #f4c23d;
	color: #d58512;
	color: #252654;
	color: #ed1c24;
}

.is-text-black {
	color: #000;
}

.clearfix {
	overflow: hidden;
	clear: both;
}

/*----------------------------
    App start
----------------------------*/

#app {
	min-height: 100%;
}

/*----------------------------
    App end
----------------------------*/

.auction .row {
	display: flex;
	align-items: center;
}

/** make bootstrap flat */

.navbar {
	min-height: auto;
}

.navbar-brand {
	height: auto;
	padding: 0 15px;
	line-height: 0;
	margin-top: 5px;
}

.navbar-brand img {
	width: 200px;
}

.form-control {
	border-radius: 1px;
	box-shadow: none;
	color: #555;
	padding: 6px 12px;
}

button:focus,
input:focus {
	box-shadow: none !important;
	outline: none !important;
}

.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
	box-shadow: none;
	text-shadow: none;
}

.btn {
	background-image: none;
	border-radius: 1px;
}

.btn:focus {
	background-image: none;
}

.navbar-default {
	margin-bottom: 0;
	padding: 10px 0;
}

.navbar-default .navbar-nav li a {
	line-height: 40px;
	padding: 0 10px;
	font-size: 18px;
}

.sticky-menu {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.bg-white {
	background: #ffffff;
	box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.5);
}

.alert,
.alert-info,
.alert-success,
.alert-danger,
.alert-warning {
	border: 0;
	background-image: none;
	box-shadow: none;
	text-shadow: none;
}

.headerAvatar img {
	border-radius: 50%;
	margin: 0 5px;
	max-height: 20px;
	max-width: 20px;
	vertical-align: middle;
}

/* end make bootstrap flat */

/** The breadcrumb **/

.btn-breadcrumb .btn:not(:last-child):after {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 10px solid white;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	left: 100%;
	z-index: 3;
}

.btn-breadcrumb .btn:not(:last-child):before {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 10px solid rgb(173, 173, 173);
	position: absolute;
	top: 50%;
	margin-top: -15px;
	margin-left: 1px;
	left: 100%;
	z-index: 3;
}

/** Home section */

.no-ads-wrap {
	padding: 50px 0;
}

.no-ads-wrap h2,
.no-ads-wrap h3,
.no-ads-wrap h4 {
	color: #777777;
}

.no-ads-wrap h4 {
	font-weight: 300;
	font-size: 22px;
	margin: 20px 0;
}

.checkout-wrap {
	margin-top: 20px;
}

.payment-success-wrap {
	margin-top: 20px;
	padding: 50px 0;
}

/** End: Home Section */

/** The Spacing **/

.btn-breadcrumb .btn {
	padding: 6px 12px 4px 24px;
}

.btn-breadcrumb .btn:first-child {
	padding: 6px 6px 4px 10px;
}

.btn-breadcrumb .btn:last-child {
	padding: 6px 18px 4px 24px;
}

/** Default button **/

.btn-breadcrumb .btn.btn-default:not(:last-child):after {
	border-left: 10px solid #fff;
}

.btn-breadcrumb .btn.btn-default:not(:last-child):before {
	border-left: 10px solid #ccc;
}

.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
	border-left: 10px solid #ebebeb;
}

.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
	border-left: 10px solid #adadad;
}

/** Primary button **/

.btn-breadcrumb .btn.btn-primary:not(:last-child):after {
	border-left: 10px solid #428bca;
}

.btn-breadcrumb .btn.btn-primary:not(:last-child):before {
	border-left: 10px solid #357ebd;
}

.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):after {
	border-left: 10px solid #3276b1;
}

.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):before {
	border-left: 10px solid #285e8e;
}

/** Success button **/

.btn-breadcrumb .btn.btn-success:not(:last-child):after {
	border-left: 10px solid #5cb85c;
}

.btn-breadcrumb .btn.btn-success:not(:last-child):before {
	border-left: 10px solid #4cae4c;
}

.btn-breadcrumb .btn.btn-success:hover:not(:last-child):after {
	border-left: 10px solid #47a447;
}

.btn-breadcrumb .btn.btn-success:hover:not(:last-child):before {
	border-left: 10px solid #398439;
}

/** Danger button **/

.btn-breadcrumb .btn.btn-danger:not(:last-child):after {
	border-left: 10px solid #d9534f;
}

.btn-breadcrumb .btn.btn-danger:not(:last-child):before {
	border-left: 10px solid #d43f3a;
}

.btn-breadcrumb .btn.btn-danger:hover:not(:last-child):after {
	border-left: 10px solid #d2322d;
}

.btn-breadcrumb .btn.btn-danger:hover:not(:last-child):before {
	border-left: 10px solid #ac2925;
}

/** Warning button **/

.btn-breadcrumb .btn-warning {
	border-color: transparent;
}

.btn-breadcrumb .btn.btn-warning:not(:last-child):after {
	border-left: 10px solid #f0ad4e;
}

.btn-breadcrumb .btn.btn-warning:not(:last-child):before {
	border-left: 10px solid #f2f2f2;
}

.btn-breadcrumb .btn.btn-warning:hover:not(:last-child):after {
	border-left: 10px solid #ed9c28;
}

.btn-breadcrumb .btn.btn-warning:hover:not(:last-child):before {
	border-left: 10px solid #d58512;
}

/** Info button **/

.btn-breadcrumb .btn.btn-info:not(:last-child):after {
	border-left: 10px solid #5bc0de;
}

.btn-breadcrumb .btn.btn-info:not(:last-child):before {
	border-left: 10px solid #46b8da;
}

.btn-breadcrumb .btn.btn-info:hover:not(:last-child):after {
	border-left: 10px solid #39b3d7;
}

.btn-breadcrumb .btn.btn-info:hover:not(:last-child):before {
	border-left: 10px solid #269abc;
}

.btn-breadcrumb a.btn {
	font-size: 13px;
}

/**
Map Area
 */

.home-map-area {
	padding: 20px 0;
}

.home-map-area h2 {
	font-weight: 200;
	font-size: 25px;
	margin-top: 0;
}

.home-map-area ul {
	margin: 0 0 10px 0;
	padding: 0;
	list-style: none;
}

#oclassifiedMapsStateName {
	height: 30px;
	color: #666666;
	text-align: center;
}

.btn.btn-orange {
	background: #b185a7;
	color: #fff;
}

.btn.btn-orange:hover {
	background: #8d6b94;
	color: #fff;
}

#oclassifiedmaps {
	margin: 0 auto;
}

.front-state-lists ul li {
	float: left;
	width: 50%;
}

a.more-states {
	font-size: 16px;
	display: block;
	margin-top: 10px;
}

/** End map area */

/** Home category box */

.home-category {
	background: #f9f9f9;
	padding: 30px 0;
}

.home-cat-box-content a {
	color: #666666;
}

.home-cat-box-content a:hover {
	color: #8d6b94;
}

.home-cat-box-content ul {
	padding: 0;
	margin: 0;
}

.home-cat-box-content ul li {
	list-style: none;
}

.home-cat-box-title a {
	color: #777777;
}

.home-cat-box-title a:hover {
	color: #333333;
}

a.cat-view-more {
	font-size: 12px;
	display: inline-block;
	margin-top: 10px;
}

.home-cat-box-title h3 {
	/*border-bottom: 1px solid #dddddd;*/
	font-size: 16px;
	margin: 10px 0;
	padding-bottom: 10px;
}

/** Home Featured box */

.section-stats-box {
	border: 1px solid #eee;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px 0;
}

.home-stats-box {
	border-right: 1px solid #eee;
	padding: 48px 0;
}

.home-stats-box i,
.home-stats-box .inner-content {
	display: table-cell;
	vertical-align: middle;
}

.home-stats-box .inner {
	display: table;
	margin: 0 auto;
}

.home-stats-box .title {
	color: #333333;
	font-size: 16px;
	font-weight: 600;
	margin: 5px 0 0;
}

.home-stats-box .sub_title {
	color: #888888;
	font-size: 15px;
}

.home-stats-box i {
	color: #cccccc;
	font-size: 42px;
	line-height: 42px;
	padding-right: 20px;
}

.no-border {
	border: none;
}

/* Admin panel */

#admin-panel {
	margin-bottom: 40px;
}

#admin-panel .navbar-default {
	padding: 0;
}

#admin-panel #side-menu a {
	padding: 14px 15px 11px;
	font-size: 15px;
}

#admin-panel #side-menu li>a>i {
	margin-right: 10px;
}

#admin-panel #side-menu li>a>.fa {
	width: 15px;
	text-align: center;
	vertical-align: text-top;
}

#admin-panel #side-menu li .label {
	position: absolute;
	right: 35px;
	padding: 5px;
}

#admin-panel [type="radio"] {
	height: 20px;
	margin-bottom: 5px;
	box-shadow: none;
	cursor: pointer;
}

#admin-panel .radio-button {
	margin-right: 20px;
}

#admin-panel .btn-info.pull-right {
	margin-top: 3px;
}

#admin-panel .page-header {
	background: #eeeeee;
	margin-top: 0;
	padding: 10px 15px 8px;
}

/**
Page header
 */

.filter-holder {
	display: flex;
	margin: 20px 0px;
}

.account-search {
	margin-right: 30px;
}

.account-search input {
	padding: 6px 8px 4px;
	height: 34px;
	min-width: 200px;
	vertical-align: bottom;
	border: 1px solid #c2c2c2;
	margin-right: -4px;
}

.account-search .btn.btn-primary {
	border-color: transparent;
	padding: 7px 12px 5px;
}

.filter-holder select {
	height: 34px;
	border: 1px solid #c2c2c2;
	padding: 5px 5px 3px;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: #ffffff url("../img/arrow-down.png") 96% 55% no-repeat;
	background-size: 20px;
	cursor: pointer;
}

.filter-holder select:focus {
	outline: none;
}

.account-sort-by label,
.account-status label {
	margin-right: 5px;
}

.account-sort-by {
	margin-right: 20px;
}

.account-sort-by select {
	min-width: 200px;
}

.account-status select {
	min-width: 100px;
}

.select-focus {
	background-image: url("../img/arrow-up.png") !important;
}

.page-header.search-page-header {
	background: #eeeeee;
	margin-top: 0;
	margin-bottom: 30px;
	padding: 30px 0;
}

.page-header.search-page-header h2 {
	font-size: 25px;
	margin-bottom: 0;
}

/**
Category page
 */

.all-categories {
	padding: 20px 0;
}

.single-category-title {
	font-size: 16px;
	padding: 5px 0;
}

/** Post ad */

#post-new-ad .form-control {
	background: #f9f9f9;
}

#post-new-ad label {
	font-weight: 300;
}

.no-login-info {
	margin-top: 20px;
}

#post-new-ad legend {
	margin: 10px 0 20px;
	padding: 10px 0;
}

/**
Home search box
 */

.home-top-searchbar {
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
}

.home-top-searchbar::before {
	background: rgba(0, 0, 0, 0) radial-gradient(at center bottom, #b185a7 12%, #f0ad4e) repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.7;
	position: absolute;
	top: 0;
	width: 100%;
}

.home-search-wrap {
	display: table;
	width: 100%;
	height: 300px;
}

.home-search-section-inner {
	display: table-cell;
	vertical-align: middle;
	color: #ffffff;
}

.home-search-section-inner h1 {
	margin-top: 0;
}

.home-search-section-inner p {
	margin-bottom: 15px;
	font-size: 16px;
}

.home-search-section-inner .form-control {
	height: 50px;
	width: 100%;
	border: none;
	padding-left: 30px;
}

.home-search-section-inner .form-control:focus {
	box-shadow: none;
}

.home-search-section-inner .form-group {
	min-width: 250px;
	margin-right: -4px;
	border-right: 1px solid #dddddd;
	position: relative;
}

.home-search-section-inner .form-group:last-child {
	border-right: none;
}

.home-search-section-inner .form-group i.fa {
	color: #999999;
	left: 10px;
	position: absolute;
	top: 37%;
	z-index: 9;
}

.home-search-section-inner .select2-selection--single {
	height: 50px;
	border: none;
	text-align: left;
	padding-left: 30px;
	border-radius: 0;
	line-height: 50px;
	background-image: none;
	box-shadow: none;
}

.home-search-section-inner .select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 50px;
	color: #999999;
}

.home-search-section-inner .select2-container--default .select2-selection--single .select2-selection__arrow {
	border: none;
	background: none;
	top: 13px;
}

.home-search-section-inner .select2-container--open .select2-dropdown {
	color: #999999;
}

.btn-search {
	background: #b185a7;
	color: #ffffff;
	border: none;
	height: 50px;
	transition: all 0.25s linear 0s;
}

.btn-search:hover {
	color: #ffffff;
	background: #8d6b94;
}

/**
Search page
 */

.search-box-wrap .home-search-section-inner {
	display: block;
}

.search-page-header {
	margin-bottom: 0;
	border-bottom: 1px solid #c0c0c0;
}

.search-page-header .bid-number-div {
	display: flex;
	align-items: center;
}

.search-page-header .bid-number-header {
	color: #666666;
	font-size: 30px !important;
	padding: 8px;
	background-color: #ffffff;
	display: inline-block;
	font-weight: bold;
	margin-top: 20px;
	margin-right: 10px;
	margin-bottom: 0;
}

.search-page-header .auction-number-header {
	font-size: 13px;
	font-style: italic;
	color: #666666;
	margin-top: 10px;
	margin-bottom: 0;
}

.search-box-wrap {
	padding: 20px 0;
	background: #eeeeee;
	border-top: 1px solid #dedede;
}

.search-sub-category {
	margin-top: 20px;
	margin-bottom: 10px;
}

.search-category-title {
	margin-bottom: 5px;
}

.item-view-switch {
	text-align: right;
}

.item-view-switch a {
	color: #666666;
	font-size: 21px;
}

.item-loop-list .caption {
	width: 70%;
	display: inline-block;
}

.item-loop-list .ad-box-footer {
	width: 27%;
	text-align: right;
	display: inline-block;
}

.item-loop-list .ad-box-caption-title {
	width: 44%;
	display: inline-block;
	margin-bottom: 0;
	height: auto;
}

.item-loop-list .ad-box-category {
	width: 44%;
	display: inline-block;
	border-top: none;
	line-height: unset;
	height: auto;
}

.item-loop-list .ad-box-premium {
	right: -29px;
}

.item-loop-list .ad-box-footer {
	background-color: unset;
	border-top: none;
}

.item-loop-list .ad-box,
.item-loop-list-thumb .ad-box {
	box-shadow: none;
	margin-bottom: 0;
	border-bottom: 1px solid #dddddd;
}

.item-loop-list .ad-box-caption-title .ad-box-title {
	color: #666666;
	font-weight: bold;
}

.item-loop-list-thumb .ad-box {
	margin-bottom: 15px;
}

.item-loop-list-thumb .ad-box {
	height: 83px;
}

.item-loop-list-thumb .ad-box .ads-thumbnail {
	max-width: 100px;
	height: auto;
	float: left;
}

.item-loop-list-thumb .ad-box .caption {
	width: 60%;
	float: left;
}

.item-loop-list-thumb .ad-box .ad-box-footer {
	width: 20%;
	float: right;
}

.item-loop-list-thumb .ad-box .ad-box-category {
	border-top: none;
}

.item-loop-list-thumb .ad-box .ad-box-caption-title {
	height: auto;
}

.item-loop {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	margin-bottom: 20px;
}

/** Search filter bar */

.listingTopFilterBar {
	background: #ffffff none repeat scroll 0 0;
	margin-top: 10px;
	min-height: 50px;
}

ul.filterAdType {
	margin: 0 0 0 3px;
	padding: 0;
}

ul.filterAdType li {
	display: inline-block;
	list-style: outside none none;
	margin-left: -3px;
}

ul.filterAdType li a {
	color: #777777;
	display: block;
	line-height: 48px;
	padding: 0 20px;
}

ul.filterAdType li.active a,
ul.filterAdType li a:hover {
	background: #f4f4f4 none repeat scroll 0 0;
	color: #000;
}

ul.listingViewIcon li {
	display: inline-block;
	list-style: outside none none;
}

ul.listingViewIcon li a {
	color: #777777;
	line-height: 50px;
	padding: 0 10px;
}

ul.listingViewIcon li a:hover {
	color: #000000;
}

ul.listingViewIcon li.shortByListingLi ul li {
	display: block;
}

ul.listingViewIcon li.shortByListingLi ul li a {
	line-height: 30px;
}

.itemViewFilterWrap {
	border-bottom: 1px solid #dddddd;
	border-top: 1px solid #dddddd;
}

/*
Ad box
*/

.modern-img-indicator {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.2);
	font-size: 12px;
	padding: 6px;
	color: #ffffff;
}

.modern-social-share-btn-group .btn-default {
	padding: 6px 12px 4px;
}

#regular-ads-container {
	padding: 30px 0;
	background: #f9f9f9;
}

#premium-ads-container {
	padding: 20px 0;
}

.front-ads-head {
	margin-bottom: 20px;
}

/* Auction start */

.auction {
	font-size: 16px;
}

.auction-header {
	padding: 15px 15px 12px;
	background-color: #888483;
	color: #ffffff;
}

.auction-header p {
	vertical-align: middle;
	font-weight: bold;
	letter-spacing: 1px;
	margin: 0;
}

.auction-header #btn-allProducts {
	font-size: 15px;
	border: none;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 5px 15px 3px;
	text-transform: uppercase;
	background-color: #000000;
	transition: all 0.3s ease;
	color: #ffffff;
}

.auction-header #btn-allProducts:hover {
	background-color: #404040;
}

.auction-content ul {
	padding: 0;
	margin: 5px 0;
	font-size: 0;
}

.auction-content .item {
	position: relative;
	list-style: none;
	display: inline-block;
	width: 20%;
	overflow: hidden;
	transition: all 0.3s ease;
}

.auction-content .information {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 38%;
	overflow: hidden;
	transition: all 0.3s ease;
	text-align: center;
	/*background-color: rgba(0, 0, 0, 0.5);*/
	color: #ffffff;
}

/*.auction-content .item:hover .information {
	height: 35%;
}*/

.auction-content a {
	display: block;
}

.auction-content .item img {
	transition: all 0.3s ease;
	max-width: 100%;
	width: 100%;
	height: 200px;
}

.auction-content .information p {
	font-size: 15px;
	margin-bottom: 5px;
}

.auction-content .information h3 {
	margin-top: 5px;
}

.auction-footer {
	font-size: 15px;
	padding: 10px 15px 8px;
	background-color: #f2f2f2;
	margin-bottom: 30px;
}

.auction-footer:last-child {
	margin-bottom: 0;
}

.auction-footer p {
	font-weight: bold;
	letter-spacing: 1px;
	margin: 0;
}

.auction-footer .countdown {
	padding: 0;
	font-size: 14px;
}

.auction-footer .text-red {
	color: #ff0000;
}

.auction-footer .auction-middle a {
	display: block;
}

.auction-footer .auction-middle a img {
	width: 45%;
	height: auto;
}

.auction-footer .auction-middle p {
	position: absolute;
	bottom: 0;
	left: 0;
}

/* Auction end */

.ad-box {
	background: #fff none repeat scroll 0 0;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	position: relative;
	margin-bottom: 30px;
}

.ad-box .ads-thumbnail {
	display: block;
	overflow: hidden;
	position: relative;
	height: 200px;
}

.ad-box .ads-thumbnail .img-responsive {
	width: 100%;
	height: 100%;
}

.ad-box .bid-price {
	color: #ffffff;
	background-color: #888483;
	padding: 10px 15px 8px;
	font-weight: bold;
	font-size: 13px;
	height: 65px;
}

.ad-box .bid-price .bid-number {
	font-size: 18px;
}

.table-scrollable .prices,
.table-scrollable .status {
	padding-top: 30px !important;
	color: #5983c4;
	font-weight: bold;
}

.table-scrollable .status {
	padding-top: 28px !important;
}

.table-scrollable .edit-delete {
	min-width: 100px;
}

.table-scrollable .edit-delete2 {
	min-width: 180px;
}

.status img {
	width: 15px;
}

.green-status,
.red-status,
.white-status {
	text-align: center;
	margin-bottom: 10px;
}

.ad-box .caption {
	background: #fff none repeat scroll 0 0;
	padding: 10px 8px;
	overflow: hidden;
}

.ad-box .caption h3 {
	margin-top: 0;
	margin-bottom: 8px;
}

.ad-box .price {
	float: left;
	font-size: 13px;
}

.ad-box .price i {
	margin-right: 2px;
}

.ad-box .location {
	float: right;
	font-size: 13px;
}

.ad-box .location i {
	margin-right: 2px;
}

.front-ads-head h2 {
	font-size: 25px;
	margin: 0 auto;
	color: #cccccc;
	text-align: center;
}

.ad-box-caption-title .ad-box-title {
	color: #666666;
}

.ad-box-category {
	padding-top: 12px;
	border-top: 1px solid #e7e7e7;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ad-box-footer {
	background-color: #f6f6f6;
	border-top: 1px solid #e7e7e7;
	padding: 7px 8px 9px;
}

.ad-box-price {
	font-size: 12px;
}

.ad-box-premium i {
	margin-top: 7px;
	color: #f21aa5;
}

.ad-box-premium {
	display: inline-block;
	border-left: 1px solid #ddd;
	float: right;
	transition: color 0.15s linear 0s;
}

.ad-box-premium img {
	max-height: 23px;
	width: auto;
	margin-left: 5px;
}

.events .col-md-3:nth-child(5n) {
	clear: both;
}

.ad-box-caption-title {
	padding: 10px;
	height: 65px;
}

.ad-box-caption-title h4 {
	margin: 0;
}

.artical-number {
	padding: 0 8px 10px;
}

.paginated-articles {
	overflow: hidden;
	clear: both;
	margin-bottom: 25px;
}

.paginated-articles a {
	text-decoration: underline !important;
}

/**
Countries
 */

.country-name {
	margin-bottom: 10px;
	font-size: 16px;
}

.country-name a {
	color: #777777;
}

/**
Create ad
 */

.image-ad-more-wrap {
	margin-top: 20px;
}

.upload-images-input-wrap .form-control {
	margin-top: 10px;
}

/** Footer */

#footer {
	background: #222;
	padding: 30px 0;
	text-align: center;
	color: #ffffff;
}

.footer-menu {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}

.footer-menu li {
	display: inline-block;
}

.footer-menu li a {
	padding: 0 10px;
	color: #ffffff;
}

.footer-menu li a:hover,
.footer-menu li a:focus {
	color: #cccccc;
}

.footer-social-links ul {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}

.footer-social-links ul li {
	display: inline-block;
}

.footer-social-links ul li a {
	font-size: 16px;
	margin: 0 5px;
	color: #ffffff;
}

.footer-social-links ul li a:hover,
.footer-social-links ul li a:focus {
	color: #cccccc;
}

.no-content-wrap {
	padding: 100px 0;
	text-align: center;
}

.no-content-wrap h2 {
	color: #cccccc;
}

.error-404-wrap {
	padding: 100px 0;
	text-align: center;
}

/** Single ad page */

#save_as_favorite {
	text-decoration: underline !important;
	font-weight: 400;
	color: #337ab7;
}

.single-auction-wrap {
	margin-top: 20px;
}

.ads-gallery>img {
	width: 100%;
}

.ads-gallery {
	text-align: center;
}

.ads-gallery .photos-holder {
	display: block;
	background: #eeeeee;
}

.photos-holder img {
	max-width: 100%;
}

.ads-gallery #gallery_01 {
	text-align: center;
	margin-top: 20px;
}

.ads-gallery #gallery_01 img {
	width: 80px;
	margin-right: 20px;
}

.ads-gallery #gallery_01 a:last-child {
	margin-right: 0;
}

.ads-detail {
	margin-top: 20px;
	text-align: justify;
}

.ads-detail-title {
	color: #cccccc;
}

.widget {
	background: #fafafa;
	box-shadow: 0 0 0 1px #e2e2e2 inset;
	margin-bottom: 20px;
	padding: 20px;
	position: relative;
}

.widget h3 {
	color: #666666;
	margin: 0;
	margin-bottom: 6px;
}

.widget .pdv {
	padding-bottom: 5px;
	border-bottom: 1px solid #cbcbcb;
}

.widget .btn,
.widget .form-control {
	padding: 6px 12px 4px;
}

.widget .form-control {
	height: auto;
	border-color: #d9d9d9;
	z-index: 0;
}

.widget .input-group-btn:first-child>.btn {
	margin-right: 0;
}

.widget form {
	margin-bottom: 20px;
}

.widget .btn-primary.bid,
.widget .btn-danger.bid {
	display: block;
	padding: 6px 12px 4px;
}

.widget .form-group {
	display: block;
	margin-bottom: 10px;
}

.widget .input-group,
.widget .btn-primary.bid,
.widget .btn-danger.bid {
	width: 65%;
}

.widget .btn-danger.bid {
	margin: 0 auto;
}

.widget .bid-max-div {
	padding: 20px;
	background-color: #faf3d1;
	-webkit-box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.75);
	overflow: hidden;
}

.widget .bid-max-div p:first-child {
	font-weight: 700;
	margin-bottom: 15px;
}

.bid-title-desc p:first-child {
	font-weight: 700;
}

.widget .glyphicon {
	top: 2px;
}

.modal-dialog {
	margin: 0 auto;
	top: 50%;
	transform: translateY(-50%) !important;
}

.modal-body {
	padding: 30px 15px;
}

.modal-body .btn,
.modal-body .form-control {
	padding: 6px 12px 4px;
}

.modal-body .form-control {
	height: auto;
	z-index: 0;
	border: 1px solid #d9d9d9;
}

.modal-body .form-control:focus {
	border-color: #d9d9d9;
}

.modal-body .btn-number {
	z-index: 1;
}

.input-group.max-bid {
	width: 35%;
}

.modal-body {
	text-align: center;
}

.modal-body .btn-primary,
.modal-body .btn-danger.bid {
	padding: 6px 12px 4px;
	width: 35%;
}

.modal-body .form {
	margin-bottom: 15px;
}

.modal-body .glyphicon {
	top: 2px;
}

.modal-footer .btn-default {
	padding: 6px 12px 4px;
}

.ad-info-name {
	width: 120px;
	font-weight: 400;
}

.ad-info-value,
.ad-info-name {
	display: table-cell;
}

.ad-action-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.ad-action-list li a {
	display: block;
	margin-bottom: 5px;
}

.sidebar-user-info {
	margin-bottom: 20px;
}

.ad-single-user-avatar,
.ad-single-user-info {
	display: table-cell;
	vertical-align: top;
}

.ad-single-user-avatar {
	max-width: 50px;
}

.ad-single-user-info {
	padding-left: 10px;
}

.ad-single-user-info h5 {
	margin: 0 0 10px;
}

.similar-ads .ad-box {
	box-shadow: none;
}

.post-ad-call-to-cation {
	text-align: center;
	padding: 20px 0 40px;
	color: #727272;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.company-name {
	color: #008c23;
}

.phpdebugbar-header,
.phpdebugbar.phpdebugbar-minimized {
	display: none;
}

.footer-features {
	background: #f6f6f6;
	padding: 20px 0 40px;
	text-align: center;
}

.footer-features .btn-warning {
	padding: 10px 16px 8px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.footer-heading h3 {
	letter-spacing: 2px;
}

.icon-text-feature {
	color: #727272;
	font-size: 25px;
	font-weight: 300;
	margin: 10px 0 20px;
}

.icon-text-feature i {
	color: #3e8f3e;
}

.list-group-item {
	border: 0;
	border-radius: 0 !important;
	color: #666666;
	font-size: 14px;
	background-color: transparent;
}

.cars-vehicles-summery {
	background: #f4f4f4 none repeat scroll 0 0;
	margin: 20px 0;
	padding: 10px 0;
}

input#bid_amount {
	max-width: 150px;
}

/*
Auth Form
 */

.register-form,
.login-form,
.reset-password-form {
	margin: 50px 0;
}

#page-wrapper h1.page-header {
	padding: 10px;
	font-size: 25px;
}

/* Registration */

.registration .radio-button {
	margin-right: 20px;
}

.registration [type="radio"] {
	height: 20px;
	margin-bottom: 5px;
	box-shadow: none;
	cursor: pointer;
}

/**
Admin
 */

img.thumb-listing-table {
	max-width: 100px;
	height: auto;
}

/** Google map */

.controls {
	margin-top: 10px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
	background-color: #fff;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 300px;
}

#pac-input:focus {
	border-color: #4d90fe;
}

#type-selector {
	color: #fff;
	background-color: #4d90fe;
	padding: 5px 11px 0px 11px;
}

#type-selector label {
	font-size: 13px;
	font-weight: 300;
}

#target {
	width: 345px;
}

#dvMap {
	height: 100%;
}

/** ====================
 * Comments
 =======================*/

.comments-container {
	margin: 20px auto 15px;
}

.comments-container h1 {
	font-size: 36px;
	color: #283035;
	font-weight: 400;
}

.comments-container h1 a {
	font-size: 18px;
	font-weight: 700;
}

.comments-list {
	position: relative;
	padding: 0;
	margin: 0;
}

/**
 * Lineas / Detalles
 -----------------------*/

.comments-list:before {
	content: "";
	width: 2px;
	height: 100%;
	background: #c7cacb;
	position: absolute;
	left: 0;
	top: 0;
}

.comments-list:after {
	content: "";
	position: absolute;
	background: #c7cacb;
	bottom: 0;
	left: 0;
	width: 5px;
	height: 5px;
	border: 2px solid #dee1e3;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.reply-list:before,
.reply-list:after {
	display: none;
}

.reply-list li:before {
	content: "";
	width: 60px;
	height: 2px;
	background: #c7cacb;
	position: absolute;
	top: 25px;
	left: -30px;
}

.comments-list li {
	margin-bottom: 15px;
	display: block;
	position: relative;
}

.comments-list li:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
	width: 0;
}

.reply-list {
	padding-left: 30px;
	clear: both;
	margin-top: 15px;
}

/**
 * Avatar
 ---------------------------*/

.comments-list .comment-avatar {
	width: 40px;
	height: 40px;
	position: relative;
	z-index: 99;
	float: left;
	border: 3px solid #fff;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	overflow: hidden;
}

.comments-list .comment-avatar img {
	width: 100%;
	height: 100%;
}

.reply-list .comment-avatar {
	width: 40px;
	height: 40px;
}

.comment-main-level:after {
	content: "";
	width: 0;
	height: 0;
	display: block;
	clear: both;
}

/**
 * Caja del Comentario
 ---------------------------*/

.comments-list .comment-box {
	width: 90%;
	float: right;
	position: relative;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.comments-list .comment-box:before,
.comments-list .comment-box:after {
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	display: block;
	border-width: 10px 12px 10px 0;
	border-style: solid;
	border-color: transparent #fcfcfc;
	top: 8px;
	left: -11px;
}

.comments-list .comment-box:before {
	border-width: 11px 13px 11px 0;
	border-color: transparent rgba(0, 0, 0, 0.05);
	left: -12px;
}

.reply-list .comment-box {
	width: 90%;
}

.comment-box .comment-head {
	background: #fcfcfc;
	padding: 10px 12px;
	border-bottom: 1px solid #e5e5e5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
	float: right;
	margin-left: 14px;
	position: relative;
	top: 2px;
	color: #a6a6a6;
	cursor: pointer;
	-webkit-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
	color: #03658c;
}

.comment-box .comment-name {
	color: #283035;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin: 0 10px 0 0;
}

.comment-box .comment-name a {
	color: #283035;
}

.comment-box .comment-head span {
	float: left;
	color: #999;
	font-size: 13px;
	position: relative;
	top: 1px;
}

.comment-box .comment-content {
	background: #fff;
	padding: 12px;
	font-size: 15px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.post-comments-form,
.reply_form_box {
	background: #f4f4f4 none repeat scroll 0 0;
	margin: 20px 0;
	padding: 20px;
	position: relative;
}

.text-danger.reply_form_remove {
	border: 1px solid;
	border-radius: 50%;
	padding: 5px 10px;
	position: absolute;
	right: 20px;
	top: 20px;
}

/* Devices --- */

.demobar {
	background: #222 none repeat scroll 0 0;
	box-shadow: 0 1px 1px rgba(255, 255, 255, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
	color: #ccc;
	position: relative;
	z-index: 2;
	padding: 5px 0;
	text-align: center;
}

/* Table --- */

.table-scrollable {
	overflow: auto;
}

/**
Auction
 */

#sub-header {
	background: #000000;
	padding: 15px 0 13px;
}

#sub-header ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sub-header ul li {
	display: inline-block;
	padding: 0 5px;
}

#sub-header ul li:first-child {
	padding-left: 0;
}

#sub-header ul li:last-child {
	padding-right: 0;
}

#sub-header ul li a {
	font-size: 16px;
	color: #ffffff;
}

#sub-header ul li a:hover,
#sub-header ul li a:focus {
	color: #cccccc;
}

#sub-header .right-info {
	float: right;
}

#sub-header .right-info ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#sub-header .right-info ul li {
	padding: 0 10px;
	border-right: 1px solid #cccccc;
}

#sub-header .right-info ul li:first-child {
	padding-left: 0;
}

#sub-header .right-info ul li:last-child {
	padding-right: 0;
}

#sub-header .right-info ul li em {
	font-style: normal;
	font-weight: 700;
}

#sub-header .right-info ul li a {
	display: block;
	font-size: 13px;
}

#sub-header .right-info ul li:last-child {
	border-right: none;
}

#sub-header .right-info .dropdown-menu {
	padding: 0;
	z-index: 9999;
	top: 33px;
	left: auto;
	right: 0;
}

#sub-header .right-info .dropdown-menu li {
	margin: 0;
	padding: 0;
	display: block;
	border: none;
}

#sub-header .right-info .dropdown-menu li a {
	padding: 13px 0 11px 15px;
	color: #000000;
}

#sub-header .right-info .notification-li {
	position: relative;
}

#sub-header .right-info .notification {
	position: relative;
}

#sub-header .right-info .notification i {
	font-size: 20px;
	vertical-align: middle;
	cursor: pointer;
	color: #ffffff;
	transition: all 0.3s ease;
}

#sub-header .right-info .notification i:hover {
	color: #cccccc;
}

#sub-header .right-info .notification .notification-number {
	position: absolute;
	top: -3px;
	right: -3px;
	text-align: center;
	color: #ffffff;
	font-size: 10px;
	font-weight: bold;
	padding: 0 4px;
	border-radius: 50%;
	background-color: #b2282d;
}

#sub-header .right-info .notification-div {
	position: absolute;
	top: 35px;
	right: 0;
	color: #000000;
	z-index: 9999;
	background-color: #f2f2f2;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
	display: none;
}

#sub-header .right-info .notification-div::before {
	z-index: 9999;
	content: "";
	top: -10px;
	right: 10px;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #f2f2f2;
	border-left: 10px solid transparent;
	position: absolute;
	display: inline-block;
}

#sub-header .right-info .notification-div h3 {
	margin: 0;
	text-align: left;
	padding: 10px 30px 6px 15px;
	border-bottom: 2px solid #dddfe2;
}

#sub-header .right-info .notification-list {
	margin: 0;
	padding: 0;
	overflow-y: auto;
	width: 280px;
	height: 350px;
}

#sub-header .right-info .notification-list li {
	padding: 0;
	display: block;
	border-bottom: 1px solid #dddfe2;
}

#sub-header .right-info .notification-list p {
	padding: 8px 30px 7px 15px;
	margin: 0;
}

#sub-header .right-info .notification-list li:hover {
	background-color: #e6e6e6;
}

#sub-header .right-info .notification-list li a {
	font-size: 14px;
	color: #000000;
	padding: 8px 30px 7px 15px;
	display: block;
}

#sub-header .right-info .notification-list li a:hover {
	color: #000000;
}

#sub-header .right-info .notification-list::-webkit-scrollbar {
	width: 7px;
}

#sub-header .right-info .notification-list::-webkit-scrollbar-thumb {
	background-color: rgba(153, 153, 153, 0.6);
}

#sub-header .right-info .notification-list::-webkit-scrollbar-thumb:hover {
	background-color: rgba(153, 153, 153, 0.8);
}

#sub-header .right-info .notification-list::-webkit-scrollbar-track {
	background-color: rgb(230, 230, 230);
}

#sub-header .right-info .notification-list .date-notification {
	display: block;
	font-size: 12px;
}

.nav-sarchbar li {
	height: 40px;
}

.nav-sarchbar li:last-child .showLink {
	position: relative;
}

.nav-sarchbar li:last-child .hideLink {
	position: absolute;
	top: 0;
	right: 0;
}

.nav-sarchbar li:last-child #example {
	display: none;
}

.nav-sarchbar li:last-child #example input {
	background-color: #f1f7fb;
	border-radius: 20px;
	border: none;
	height: 40px;
	width: 240px;
	display: inline-block;
	outline: none;
	font-size: 13px;
	color: #888888;
}

.nav-sarchbar li #example input:focus {
	box-shadow: none;
}

.nav-sarchbar li:last-child i {
	width: 40px;
	height: 40px;
	display: inline-block;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	background-color: #f1f7fb;
	color: #000000;
}

.navbar-right.nav-sarchbar {
	padding-right: 15px;
}

.navbar-right.nav-sarchbar li a {
	padding: 0;
}

.ad-box .countdown {
	text-align: center;
	padding: 15px;
	font-size: 13px;
}

.place-bid-btn {
	text-align: center;
}

.place-bid-btn .btn-primary {
	width: 100%;
	height: 45px;
	line-height: 45px;
	padding: 0;
	font-size: 16px;
	background-color: #000000;
	transition: all 0.3s ease;
	border: none;
	letter-spacing: 1px;
}

.place-bid-btn .btn-primary:hover {
	background-color: #404040;
}

/* Profile edit */

.profile-avatar {
	margin-bottom: 20px;
}

.profile-avatar img {
	width: 120px;
	height: 120px;
}

.edit-profile {
	font-size: 16px;
	color: #ffffff;
	padding: 8px 15px 7px;
	background-color: #337ab7;
}

.edit-profile:hover,
.edit-profile:focus {
	background-color: #265a88;
	color: #ffffff;
}

.edit-profile i {
	margin-right: 1px;
}

/*----------------------------
    Auction start
----------------------------*/

#auction {
	background-color: #888483;
	margin-bottom: 50px;
}

#auction-info {
	color: #ffffff;
	padding: 30px 40px;
	margin: 0;
	font-size: 16px;
}

#auction-info .location p {
	display: block;
}

#auction-info .location span,
#auction-info .time span,
#auction-info .event_view_dates span {
	min-width: 180px;
	display: inline-block;
}

#auction-info .location-info {
	margin-left: 5px;
}

#auction-info .row {
	display: flex;
	align-items: center;
}

#auction-info h2 {
	margin: 0;
}

#auction-info .auctioneer,
#auction-info .location {
	margin: 20px 0;
}

#auction-info .event_view_dates,
#auction-info .event_description {
	margin-top: 20px;
}

.event-show-countdown {
	font-size: 22px;
}

#auction-info img {
	width: 25px;
	margin-right: 5px;
	vertical-align: top;
}

.event-full-img {
	width: 100% !important;
}

#auction-info p {
	margin: 0;
}

#auction-info .auction {
	margin: 0;
	width: 200px;
}

#auction-info .event_view_dates span,
#auction-info .event_description span {
	float: left;
}

#auction-info .event_view_dates span:first-child,
#auction-info .event_description span:first-child {
	margin-right: 5px;
}

#auction-info .event_view_dates span:last-child,
#auction-info .event_description span:last-child {
	width: 400px;
}

#auction-info .event-show-countdown {
	text-align: center;
}

/*----------------------------
    Auction end
----------------------------*/

/*----------------------------
    Back-to-top start
----------------------------*/

#back-to-top {
	position: fixed;
	bottom: 30px;
	right: 15px;
	width: 38px;
	height: 38px;
	z-index: 999;
	cursor: pointer;
	background: url("../img/back-to-top.png") center no-repeat;
	background-size: 24px;
	background-color: #888483;
	transition: all 0.3s ease;
	visibility: hidden;
	opacity: 0;
}

#back-to-top:hover {
	background-color: #757170;
}

.back-to-top-show {
	visibility: visible !important;
	opacity: 1 !important;
}

/*----------------------------
    Back-to-top end
----------------------------*/

/** =====================
 * Responsive
 ========================*/

@media only screen and (max-width: 320px) {
	.navbar-default {
		padding: 0;
	}

	#sub-header {
		padding: 15px 0;
	}

	#sub-header .col-xs-6 {
		width: 100%;
		display: block;
	}

	.social-icons {
		text-align: center;
		font-size: 10px;
		margin-bottom: 10px;
	}

	.right-info {
		float: none !important;
		text-align: center;
		margin-top: 10px;
	}

	#sub-header .right-info .dropdown-menu {
		top: 34px;
	}

	#sub-header .right-info .notification-div {
		top: 36px;
		left: -75px;
		right: auto;
	}

	#sub-header .right-info .notification-list {
		text-align: left;
		width: 290px;
	}

	#sub-header .right-info .notification-div::before {
		right: auto;
		left: 75px;
	}

	.navbar-nav,
	.navbar-nav.in {
		margin-top: 0;
		margin-bottom: 0;
	}

	.navbar-default .navbar-nav li a,
	.navbar-nav.in li a {
		padding: 0 15px;
	}

	.navbar-collapse {
		border: none;
	}

	.navbar-brand {
		margin-top: 10px;
	}

	.nav-sarchbar {
		text-align: right;
		margin-top: 0;
		padding-bottom: 10px;
	}

	#example-show,
	#example-hide {
		padding: 0;
	}

	#auction-info {
		padding: 15px 0;
	}

	#auction-info .row {
		display: block;
	}

	#auction-info .col-md-4.text-right {
		text-align: left;
	}

	#auction-info .event-show-countdown {
		padding-top: 15px;
	}

	#auction-info .auctioneer,
	#auction-info .location,
	#auction-info .time {
		margin: 0;
		margin-top: 20px;
		display: block;
	}

	#auction-info .event_view_dates span:last-child,
	#auction-info .event_description span:last-child {
		width: auto;
	}

	#auction-info .location p,
	#auction-info .time p,
	#auction-info .event_view_dates p,
	#auction-info .event_description p {
		width: 250px;
	}

	#auction-info .auction {
		display: none;
	}

	.auction {
		font-size: 14px;
	}

	.auction .row {
		display: block;
	}

	.auction-header .all-products {
		text-align: left;
		margin-top: 5px;
	}

	.auction-header #btn-allProducts {
		font-size: 12px;
	}

	.auction-content {
		overflow-x: scroll;
		white-space: nowrap;
	}

	.auction-content .item {
		width: 100%;
		margin-right: 5px;
	}

	.auction-content .item:last-child {
		margin-right: 0;
	}

	.auction-footer {
		padding: 10px 15px;
	}

	.auction-footer p {
		text-align: left;
		font-size: 12px;
	}

	.auction-footer .text-red {
		font-size: 12px;
		padding: 0;
	}

	.auction-footer .auction-middle,
	.auction-footer .auction-bottom {
		padding-top: 8px;
	}

	.ad-box .ads-thumbnail {
		height: 240px;
	}

	.filter-holder {
		display: block;
		margin-bottom: 0;
	}

	.filter-holder .account-search input {
		min-width: 195px;
	}

	.filter-holder .account-sort-by select,
	.filter-holder .account-status select {
		min-width: 180px;
	}

	.filter-holder .account-search,
	.filter-holder .account-sort-by {
		margin-bottom: 20px;
	}

	.filter-holder .account-sort-by label,
	.filter-holder .account-status label {
		width: 70px;
	}

	.widget .input-group,
	.widget .btn-primary.bid,
	.widget .btn-danger.bid {
		width: 80%;
	}

	.modal-body .input-group.max-bid {
		width: 65%;
		margin: 0 auto;
	}

	.modal-body .btn-danger.bid {
		width: 65%;
	}

	.footer-menu {
		font-size: 11px;
	}

	.footer-features .btn-warning:last-child {
		margin-bottom: 0;
	}

	ul.footer-menu li a {
		padding: 0 5px;
	}

	#admin-panel {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	#admin-panel .page-header {
		margin-top: 20px;
	}

	#admin-panel .btn-info.pull-right {
		margin-top: 5px;
		float: none !important;
	}

	#admin-panel .admin h1 {
		font-size: 30px;
	}

	.table-scrollable .info-text {
		min-width: 200px;
	}

	.table-scrollable .prices {
		min-width: 150px;
	}

	.table-scrollable .prices.number {
		min-width: 60px;
	}

	.table-scrollable .edit-delete {
		min-width: 100px;
	}

	#back-to-top {
		bottom: 25px;
	}
}

@media only screen and (min-width: 321px) and (max-width: 766px) {
	.navbar-default {
		padding: 0;
	}

	#sub-header {
		padding: 15px 0;
	}

	#sub-header .col-xs-6 {
		width: 100%;
		display: block;
	}

	.social-icons {
		text-align: center;
		font-size: 10px;
		margin-bottom: 10px;
	}

	.right-info {
		float: none !important;
		text-align: center;
		margin-top: 10px;
	}

	#sub-header .right-info .dropdown-menu {
		top: 34px;
	}

	#sub-header .right-info .notification-div {
		top: 36px;
		left: -95px;
		right: auto;
	}

	#sub-header .right-info .notification-list {
		text-align: left;
		width: 330px;
	}

	#sub-header .right-info .notification-div::before {
		right: auto;
		left: 94px;
	}

	.navbar-brand {
		margin-top: 10px;
	}

	.navbar-nav,
	.navbar-nav.in {
		margin-top: 0;
		margin-bottom: 0;
	}

	.navbar-default .navbar-nav li a,
	.navbar-nav.in li a {
		padding: 0 15px;
	}

	.nav-sarchbar {
		text-align: right;
		margin-top: 0;
		padding-bottom: 10px;
	}

	#example-show,
	#example-hide {
		padding: 0;
	}

	#auction-info {
		padding: 15px 0;
	}

	#auction-info .row {
		display: block;
	}

	#auction-info .col-md-4.text-right {
		text-align: left;
	}

	#auction-info .event-show-countdown {
		padding-top: 15px;
	}

	#auction-info .auctioneer,
	#auction-info .location,
	#auction-info .time {
		margin: 0;
		margin-top: 20px;
		display: block;
	}

	#auction-info .event_view_dates span:last-child,
	#auction-info .event_description span:last-child {
		width: auto;
	}

	#auction-info .location p,
	#auction-info .time p,
	#auction-info .event_view_dates p,
	#auction-info .event_description p {
		width: 250px;
	}

	#auction-info .auction {
		display: none;
	}

	.auction {
		font-size: 15px;
	}

	.auction .row {
		display: block;
	}

	.auction-header .all-products {
		text-align: left;
		margin-top: 10px;
	}

	.auction-content {
		overflow-x: scroll;
		white-space: nowrap;
	}

	.auction-content .item {
		width: 100%;
		margin-right: 5px;
	}

	.auction-footer {
		padding: 10px 15px;
	}

	.auction-content .item:last-child {
		margin-right: 0;
	}

	.auction-footer p {
		text-align: left;
		font-size: 13px;
	}

	.auction-footer .text-red {
		font-size: 13px;
	}

	.auction-footer .auction-middle,
	.auction-footer .auction-bottom {
		padding-top: 8px;
	}

	.filter-holder {
		display: block;
		margin-bottom: 0;
	}

	.filter-holder .account-search input {
		min-width: 195px;
	}

	.filter-holder .account-sort-by select,
	.filter-holder .account-status select {
		min-width: 180px;
	}

	.filter-holder .account-search,
	.filter-holder .account-sort-by {
		margin-bottom: 20px;
	}

	.filter-holder .account-sort-by label,
	.filter-holder .account-status label {
		width: 70px;
	}

	.table-scrollable .info-text {
		min-width: 250px;
	}

	.table-scrollable .prices {
		min-width: 150px;
	}

	.table-scrollable .prices.number {
		min-width: 60px;
	}

	.table-scrollable .edit-delete {
		min-width: 100px;
	}

	.ad-box .ads-thumbnail {
		height: 250px;
	}

	.widget .input-group,
	.widget .btn-primary.bid,
	.widget .btn-danger.bid {
		width: 70%;
	}

	.modal-body .input-group.max-bid {
		width: 65%;
		margin: 0 auto;
	}

	.modal-body .btn-danger.bid {
		width: 65%;
	}

	.comments-container {
		width: 100%;
	}

	.comments-list .comment-box {
		width: 90%;
	}

	.reply-list .comment-box {
		width: 90%;
	}

	.navbar-default {
		border-color: #d0d0d0;
	}

	.navbar-collapse {
		border: none;
	}

	.navbar-default .navbar-toggle:focus {
		background-color: transparent;
	}

	.footer-menu {
		font-size: 12px;
	}

	ul.footer-menu li a {
		padding: 0 8px;
	}

	#admin-panel {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	#admin-panel .page-header {
		margin-top: 20px;
	}

	#admin-panel .btn-info.pull-right {
		margin-top: 5px;
		float: none !important;
	}

	#back-to-top {
		bottom: 25px;
	}
}

@media only screen and (min-width: 321px) and (max-width: 766px) and (orientation: landscape) {
	#sub-header {
		padding: 15px 0 13px;
	}

	#sub-header .col-xs-6 {
		width: 50%;
	}

	.social-icons {
		margin-bottom: 0;
		text-align: left;
	}

	.right-info {
		margin-top: 0;
		float: right !important;
	}

	#sub-header .right-info .notification-div {
		top: 35px;
		left: auto;
		right: 0;
	}

	#sub-header .right-info .notification-list {
		width: 350px;
	}

	#sub-header .right-info .notification-div::before {
		right: 10px;
		left: auto;
	}

	#auction-info {
		padding: 30px 15px;
	}

	.events .col-md-3:nth-child(even) .ad-box,
	#premium-ads-container .col-sm-6:nth-child(even) .ad-box {
		width: 48%;
		float: left;
	}

	.events .col-md-3:nth-child(odd) .ad-box,
	#premium-ads-container .col-sm-6:nth-child(odd) .ad-box {
		width: 48%;
		float: right;
	}

	.auction {
		font-size: 16px;
	}

	.auction-header .row {
		display: flex;
	}

	.auction-header .row .col-sm-6 {
		flex: 1;
	}

	.auction-header .all-products {
		margin: 0;
		text-align: right;
	}

	.auction-content .item {
		width: 49.5%;
	}

	.ad-box .ads-thumbnail {
		height: 230px;
	}

	.item-loop {
		width: 47%;
		display: inline-block;
	}

	.item-loop:nth-child(odd) {
		float: right;
	}

	.widget .input-group,
	.widget .btn-primary.bid,
	.widget .btn-danger.bid {
		width: 40%;
	}

	.modal-body .input-group.max-bid {
		width: 45%;
		margin: 0 auto;
	}

	.modal-body .btn-danger.bid {
		width: 45%;
	}

	.modal-dialog {
		width: 80%;
	}

	.footer-menu {
		font-size: 14px;
	}

	ul.footer-menu li a {
		padding: 0 10px;
	}

	#admin-panel .col-sm-6.col-lg-3 {
		width: 50%;
		display: inline-block;
		margin: 0;
	}

	#admin-panel .col-sm-6.col-lg-3:nth-child(2n) {
		float: right;
	}

	#admin-panel .btn-info.pull-right {
		margin-top: 3px;
		float: right !important;
	}
}

@media only screen and (min-width: 767px) and (max-width: 1023px) {
	.navbar-nav {
		float: none;
	}

	.navbar-brand {
		margin-top: 0;
	}

	.auction-content {
		overflow-x: scroll;
		white-space: nowrap;
	}

	.auction-content .item {
		width: 32.85%;
		margin-right: 5px;
	}

	.auction-content .item:last-child {
		margin-right: 0;
	}

	.auction-footer .col-md-4 {
		flex: 1;
	}

	.auction-footer p {
		font-size: 14px;
	}

	.auction-footer .text-red b {
		display: block;
	}

	.filter-holder .account-search input {
		min-width: auto;
		width: 180px;
	}

	.filter-holder .account-search {
		margin-right: 70px;
	}

	.filter-holder .account-sort-by select {
		min-width: auto;
		width: 160px;
	}

	.filter-holder .account-status select {
		min-width: auto;
		width: 100px;
	}

	.table-scrollable .info-text {
		min-width: 250px;
	}

	.table-scrollable .prices {
		min-width: 150px;
	}

	.table-scrollable .prices.number {
		min-width: 60px;
	}

	.table-scrollable .edit-delete {
		min-width: 100px;
	}

	.ad-box .ads-thumbnail {
		height: 250px;
	}

	.widget .input-group,
	.widget .btn-primary.bid,
	.widget .btn-danger.bid {
		width: 100%;
	}

	.widget .btn-danger.bid {
		font-size: 12px;
	}

	.item-loop .countdown b {
		display: block;
	}

	.item-loop .ads-thumbnail {
		height: 200px;
	}

	#auction-info {
		padding: 30px 10px;
	}

	#auction-info .location p,
	#auction-info .time p,
	#auction-info .event_view_dates p,
	#auction-info .event_description p {
		width: 280px;
	}

	#admin-panel .btn-info.pull-right {
		margin-top: 5px;
		float: none !important;
	}
}

@media only screen and (min-width: 1024px) and (max-width: 1365px) {
	.widget .btn-danger.bid {
		width: 75%;
	}

	.filter-holder .account-sort-by {
		float: right;
	}

	.table-scrollable .info-text {
		min-width: 200px;
	}

	.table-scrollable .prices {
		min-width: 150px;
	}

	.table-scrollable .prices.number {
		min-width: 60px;
	}
}

@media (max-width: 991px) {

	.home-top-searchbar,
	.home-search-wrap {
		height: 400px;
	}

	.home-search-section-inner .form-group {
		margin-bottom: 10px;
		clear: both;
		display: block;
	}

	.home-search-section-inner .select2-container {
		width: 100% !important;
	}
}